Repository IT2901-24-2018/vapi, pull requests merged in 2018-04, with the labels that each got.

#132 Add mapping of production data to road network
  .travis.yml
  README.md
  backend/api/mapper/mapper.py
  backend/api/mapper/postgis.sql
  backend/api/migrations/0002_auto_20180309_1146_squashed_0006_auto_20180312_1338.py
  backend/api/migrations/0003_auto_20180406_1108.py
  backend/api/migrations/0004_dummymodel_squashed_0009_auto_20180411_1244.py
  backend/api/migrations/0005_merge_20180413_0858_squashed_0007_auto_20180413_1209.py
  backend/api/migrations/0008_merge_20180418_1106.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests/test_prod_data.py
  backend/api/urls.py
  backend/api/views.py
  backend/data/example_create_test_prod_data.py
  backend/data/road_segmenting/example_roadnet_to_db.py
  backend/settings/base.py
  backend/settings/constants.py
  backend/settings/local_example.py
Labels: Backend, Story 23

#147 Handle overlap of production data on input
  backend/api/mapper/mapper.py
  backend/api/tests/test_mapper.py
  backend/api/tests/test_prod_data.py
  backend/api/tests/test_productiondata_overlap.py
  backend/api/urls.py
  backend/api/views.py
  backend/data/example_create_test_prod_data.py
Labels: Backend, Story 24

#141 Rewrote the project to be a multi-container Docker application
  .gitignore
  .travis.yml
  Dockerfile
  LICENSE
  Makefile
  README.md
  backend/api/mapper/mapper.py
  backend/api/tests/test_mapper.py
  backend/api/views.py
  backend/constants.py
  backend/data/example_create_test_prod_data.py
  backend/data/road_segmenting/__init__.py
  backend/data/road_segmenting/example_roadnet_to_db.py
  backend/data/road_segmenting/nvdb_to_geojson.py
  backend/data/road_segmenting/road_fetcher.py
  backend/data/road_segmenting/road_segmenter.py
  backend/data/road_segmenting/tests/test_segmenting.py
  backend/settings.py
  backend/settings/__init__.py
  backend/settings/local_example.py
  backend/settings/production.py
  backend/templates/index.html
  docker-compose.yml
  frontend/Dockerfile
  frontend/README.md
  frontend/config/paths.js
  frontend/package.json
  frontend/src/index.js
  requirements.txt
  setup.cfg
Labels: Backend, Frontend
